:root{
  --header-footer: #3A5A40;
  --accent-color: #588157;
  --background: #DAD7CD;
  --transparent-background: rgba(218, 215, 205,.5);
  --light-accent: #A3B18A;
  --dark-accent: #1D2C24;
  --light-text:#DAD7CD;
  --dark-text:#1D2C24;

}

*{
  margin: 0;

}

body{
  background-color: var(--dark-accent);
}

#content{
  max-width: 1024px;
  background-color: var(--background);
  margin: 0 auto;
  color: var(--dark-text);
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-footer);
  color: var(--light-text);
}

h1{
font-size: 3rem;
padding: 1rem;
}

nav{
  font-size: 1.5rem;
  padding: 1rem;
}

.is-hidden {
  display: none;
}

#header-menu-options {
  position: absolute; /* optional if your layout needs it */
  z-index: 10;
  background-color: var(--header-color);
}

#header-menu-options ul {
  list-style: none;
  margin: 0;
  padding: 0.5rem;
}

#header-menu-options li {
  padding: 0.75rem;
  cursor: pointer;  border-bottom: 1px solid var(--accent-color);
}


#hero img{
  width: 100%;
}

#parkInfo{
  background-color: var(--background);
  opacity: 80%;
  margin-top: -100px;
  height: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#parkInfo.parkInfo-hover {
  background-color: var(--accent-color);
}

#parkName{
  font-size: 2.25rem;
  padding: .75rem;
}

#parkInfo div{
  padding: .5rem;
  border-left: 2px solid var(--dark-accent);
  font-size: 1.15rem;
}


#parkMenu ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0px;
  color: var(--dark-text);
  background-color: var(--light-accent);
  padding: 0px .1rem;
}

#parkMenu h3{
  justify-self: center;
}

#parkMenu li{
  padding: .25rem;
  justify-content: center;
}

#parkMenu ul li svg {
  width: 50px;
  height: 50px;
  display: block;
  fill: var(--dark-text);
}


footer{
  display: flex;
  background-color: var(--header-footer);
  color: var(--background);
  justify-content: center;
}